<!DOCTYPE html>
<html>
<head>
	<title>APOGEE 2017</title>
</head>
<body>
<strong>IC ENGINE WORKSHOP 25-26 10am onwards</strong><br>
<strong>Location 6151</strong><br>
Internal Combustion or IC Engines have had a great impact on human life. These engines produce immense power in contrast to their size and weight. Today, these engines power almost all air and land vehicles.In this workshop students get firsthand practical experience of the working principles for IC Engine Design . Participants can explore the engineering involved in an automotive engine system. <br>
We have actual IC Engines to experiment with during the workshop.<br>
<hr><br>
<strong>Big Data Workshop 25-26 9:30am onwards</strong><br>
<strong>Location 6159</strong><br>
This informative and lab-based workshop will give you the tools to find the wonders that are awaiting in your data. No more confusion. No more complexity.Interact WITH your data and produce some data goodness by leveraging easy-to-use, intuitive Big Data management and data visualization tools.<br>
Laptops Preferable.<br>
</body>
</html>