{% extends "regsoft/base.html" %}
{% block body %}
{% load staticfiles %}
<div class="wrapper">
	<div class="sidebar" data-color="purple" data-image="{% static 'regsoft/img/sidebar-4.jpg' %}">  
		<!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
	
	
		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="#" class="simple-text">
					<strong>Controls </strong>
				</a>
			</div>
					   
			<ul class="nav">
				<li>
					<a href="{% url 'regsoft:controls home' %}">
						<i class="pe-7s-home"></i> 
						<p>Home</p>
					</a>            
				</li>
				<li>
					<a href="{% url 'regsoft:groupcodelist' %}">
						<i class="pe-7s-note2"></i> 
						<p>Groupcode list</p>
					</a>            
				</li>
				<li>
					<a href="{% url 'regsoft:controls bill delete' %}">
						<i class="pe-7s-news-paper"></i> 
						<p>Delete Bill</p>
					</a>
				</li> 
			</ul> 
		</div>

	</div>

	
	<div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
			<div class="container-fluid">    
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><strong> Controls Booth </strong></a>
				</div>
				<div class="collapse navbar-collapse">       
					<ul class="nav navbar-nav navbar-left">
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{% url 'registration:logout' %}">
								Log out
							</a>
						</li> 
					</ul>
				</div>
			</div>
		</nav>



<script type= 'text/javascript'>
function checkall(gauss){
	var cbx = document.getElementsByTagName('input');
	for(var i=0; i< cbx.length ; ++i)
	{
		if(cbx[i].type == 'checkbox')
		cbx[i].checked = gauss.checked;
	}
}

</script>
					 
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-plain">
							<div class="header">
								<h4 class="title">Bills</h4>
								<p class="category">Following are the list of receipts generated</p>
							</div>
							<div class="content table-responsive table-full-width">
								<table class="table table-hover">
									<thead>
										<th>S.no</th>
										<th>Group Leader</th>
										<th>College</th>
										<th>Bill No </th>
										<th>No.of participants</th>
										<th>Amount</th>
										<th>Details</th>
										<th>Print </th>
										<th>Select</th>
									</thead>
									<tbody>
										<form method= "POST" action="{% url 'regsoft:controls bill delete' %}" id ="delete">
											{% csrf_token %}
										</form>
										{% for bill in object_list %}
											<tr>
												<td>{{ forloop.counter }}</td>
												<td>{{ bill.leader.name }}</td>
												<td>{{ bill.leader.college.name }}</td>
												<td>{{ bill.id}}</td>
												<td>{{ bill.payees | length }}</td>
												<td>{{ bill.amount }}</td>
												<td><a href="{% url 'regsoft:controls bill view' bill.pk %}">Details</a></td>
												<form method ='POST' action="{% url 'regsoft:controls bill print' %}">
													{% csrf_token %}
													<input type= "hidden" name="leader_id" value="{{bill.leader.id}}">
													<td>
														<button type="submit" name="bill_id" class="btn btn-info btn-fill" value="{{bill.id}}">Print</button>
													</td>
												</form>
												<td>
													<label class="checkbox">
														<input type="checkbox" data-toggle="checkbox" name="bill_id" value="{{bill.id}}" form="delete">
													</label>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<button type="submit" class="btn btn-info btn-fill col-md-2 col-md-offset-5" form= "delete"><strong>Delete </strong></button>
							</div>
						</div>
					</div> 	 
				</div>
			</div>
		</div>

		<!-- FOOTER FOR THE PAGE -->
		
		<footer class="footer">
			<div class="copyright container-fluid">
				<p class="pull-left">&copy; 2017 <a>Department of Visual Media</a></p>
				<p class="pull-right">For any queries contact :<strong> 7689053339 </strong> / 9953108361 / 8233772837 </p>
			</div>
		</footer>
	</div>
</div>
{% endblock body %}


