
<div class="col-xs-10 col-xs-offset-1 instruction-wrapper">
	<h3>Paper Abstract Submission</h3>
	
	<span style="color: #cd0000">The deadline for submission of Paper Abstract is: <br>
		<b>BITSian Participants: </b><span style="color:#cd0000;">14th November, 2016 11:59pm.</span><br>
		<b>Non-BITSian Participants (Outstation): </b><span style="color:#cd0000;">20th February, 2017 11:59pm.</span>
		<br><br>
		Non-BITSian can also directly mail their final paper entries to pep@bits-apogee.org
	</span>
	
	<div class="instr_head">INSTRUCTIONS :</div> 
	<ul>
		<li class="rule_point">
			The results for the abstracts will be announced <b>via E-Mail and on the <a href="https://www.facebook.com/bitsapogee/" target="_blank">Facebook Page</a></b>.
		</li><li class="rule_point">
			Participants have to upload their abstracts for screening in the appropriate format on the Apogee 2017 portal.The portal will be accessible from <b>26th October 2016</b>.  The prescribed format must be followed, failing which may lead to disqualification of the participants. 
		</li><li class="rule_point">
			The abstract should be submitted only in the format provided below.
		</li><li class="rule_point">
			Only genuine and original paper abstracts should be uploaded. Abstracts found copied from any source like internet/ journals etc. will be disqualified.
		</li><li class="rule_point">
			Only undergraduate and postgraduate students of any recognized university can participate.
		</li><li class="rule_point">
			A <b>maximum of 2 students per team</b> are allowed to present a paper (one as author and another as co-author). Participants from different institutions can also form a team.
		</li><li class="rule_point">
			The abstract will be judged on the basis of their innovation and knowledge of the field.
		</li><li class="rule_point">
			Plagiarized content will be strictly dealt with and would lead to participant's disqualification. In case of any discrepancy, organizers decision will be final and binding.
		</li><li class="rule_point">
			Participants <b>can't submit one paper in multiple categories</b>. Also, participants can present more than one paper. However, the abstracts should be submitted separately.
		</li>
	</ul>
	<button class="waves-effect red darken-4 text-center btn apply-paper" style="display:none;">Apply</button>
	<a href="https://drive.google.com/file/d/0B2GlIIGz6EaMdkNveV9kT2w4Y1E/view?usp=sharing" target="_blank"><button class="waves-effect red darken-4 text-center dnld btn"><i class="fa fa-download"></i>&nbsp;&nbsp;Download Abstract format</button></a>
	<a href="https://drive.google.com/file/d/0B2GlIIGz6EaMT3VIVHVoaEhaN0U/view?usp=sharing" target="_blank"><button class="waves-effect red darken-4 text-center dnld btn"><i class="fa fa-download"></i>&nbsp;&nbsp;Download Final Paper format</button></a>

</div>

<script>
	$(".apply-paper").click(function() {
		wrapLink("/papers/form/");
	});
</script>