<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body style="text-align: justify;">
<center>
<img src = "https://bits-apogee.org/2017/static/intro/img/logo_large.png" height="80"><br>
</center>
<br><br>
CONGRATULATIONS {{name}}!<br>
<br>
You are now CONFIRMED as a participant for APOGEE 2017. You are welcome to BITS-Pilani to participate in APOGEE 2017, to be held from 23th-26th March,2017. <strong>You can now register for individual events by logging in to <a href="https://bits-apogee.org">APOGEE 2017.</a></strong><br>
<br>
<strong>Please get a print out of this document before you come to campus. Your confirmation code is {{code}}.</strong><br><br>
<center>
<img src="https://bits-apogee.org/2017/pcradmin/barcode/?data={{code}}">
</center>
<br>
<br>
&bull; The registration fees will be <strong>Rs 800</strong> per person when paid online. <strong>Payment Portal is now up on the website.</strong> It can be accessed from your profile option(top right of the page after you login on the website). However, if you pay the registration fee after coming on campus, you will be paying <strong>Rs.900</strong>. The registration fees on campus can be paid in cash or via demand draft (in favour of BITS PILANI, payable at Pilani) on arrival at the campus. Please note that multiple participants can make the payment via a single demand draft.<br>
<br>
&bull; The registration fees includes<br>
1. Accommodation in the hostels for the duration of the fest.<br>
2. Free entry for all guest lectures and exhibitions.<br>
3. Participation in all the events and a chance to win prize money worth a total of Rs. 12 lakhs.<br>
<br>
&bull; The registration fees does not include food. Mess coupons will be available at reasonable rates for those who wish to eat in the mess. There are a lot of eating outlets, cafeterias and restaurants inside campus as well.<br>
<br>
&bull; You will have to pay an additional, refundable (will be given back to you) safety deposit of Rs. 300 at the Reception and Accommodation hut.<br>
<br>
&bull; You need to produce the following documents on arrival at the campus:<br>
1. Two passport size photographs<br>
2. A valid college ID card / bonafide certificate<br>
3. A print-out of the confirmation page from the website.<br>
4. PLEASE ENSURE TO GET YOUR BANK DETAILS ALONG WITH YOU (if you have not filled that in registration form) BECAUSE IF YOU/YOUR TEAM WINS, THERE WOULD NOT BE A PROBLEM IN TRANSFERRING THE PRIZE MONEY.THIS IS COMPULSORY.<br>
<br>
For any queries regarding confirmation/participation contact:<br>
<br>
Venkat Ashrith<br>
08058775099<br>
<br>
Reaa Saxena<br>
09929948236<br>
pcr@bits-apogee.org
</body>
  <script type="text/javascript">
  	window.print();
  </script>
</html>
